@import "compass";
@import "compass/reset";
$green: #84AD47;
$red: #AD4747;
$blue: #4784AD;
$gray:      #484b50;
$red:		#9e1326;
$white:     #fff;


*{
    padding: 0;
    margin: 0;
//    box-sizing: border-box;
}



.menu {
    width :95%;
    text-align: right;
    margin-top: -40px;
    padding-left: 40%;
    position: relative;
    ul{ 
        list-style-type: none;
        overflow: hidden;
        li a {
            font-size: 23px;
            font-family: 'Helvetica', sans-serif;
            display: block;
            background-color: #111;
            float: left;
            padding: 10px 16px 10px 16px; 
            text-decoration: none;
            color: whitesmoke;
        }
        
    }
}



form {
  width: 50%;
//  margin: 4%;
  min-width: 9rem;
  margin-left: 25%;
    height:450px;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
    font-size: 20px;
    
  &[type=submit] {
    background: #4D6DA0;
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

  &.error {
    background: $red;
    color: #fff;
    &::placeholder {
      color: darken($red, 60%);
    }
  }
}
textarea {
  height: 10rem;
}


#contact {
    font-size: 25px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    padding-top: 117px;
    color: #dddddd;
    background-color:#2C3646;
    background: linear-gradient(-185deg,#4c5c96 20%, #3f4e85 0%);
  
}

#projects {
//    margin: -10px;
    text-align: center;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 25px;
    background-color: #2e3141;
    color: #ffffff;
    padding: 80px 20px;
//    overflow: visible;
//    height: auto
//    height: 250px;
}

.spacer {
    clear: both;
}

.project-box {
    font-size: 20px;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    width: 27%;
    min-width: 10%;
//    height: auto;
    float: left;
 //   flex-grow: 1;
    padding: 2%;
    margin: 10px;
  //  border: 1px groove;
    border-radius: 8px;
    min-height: 200px;
    background-color: #353849;
//    box-shadow: 1px 1px #FFF;

}

.project-box h2 {
    font-size: 20px;
}
//body { background:url('../nwz.jpg') top right no-repeat !important; background-attachment:fixed; }

.page-title{
    font-size: 25px;
}

#about {
    margin:0;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    background-color: #ffffff;
    color: #eee;
    padding: 117px;
    height:auto;
    background: linear-gradient(185deg,#2E3141 18%, #4c5c96 0%);
}

.page-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:#eee;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

footer {
    text-align:center;
    font-size: 40px;
   line-height: 100px;
//  bottom:0px;
    width:100%;
    background-color: rgba(18,39,54,0.98);
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", 'Tahoma', Sans-Serif;
    font-weight: 400;
    a{
        color: white !important;
        i:hover {
          color:#3366ff;
        }
    }
}

.end {
    color: lightgrey;
    font-size: 15px;
    font-family: sans-serif;
    float: right;
    margin-top: 50px;
    padding-right: 30px;
}


.main {
    position: absolute;
    top: 40%;
    margin-top: -55px;
    width: 100%;
    font-size: 70px;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
}
.subtxt {
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    position: absolute;
    margin-top: 360px;
}
.align{
//    position: absolute;
}


.bg {
    width: 100%;
    padding:0;
    margin:0;
}

.image {
    display: block;
//    min-height: 100%;
//    min-width: 100%;
}

header {
  width:100%;
  background:rgba(18,39,54,0.98);
  height:80px;
  position:fixed;
    z-index: 10;

  h1 {
   font-family: 'Raleway', sans-serif;
    font-size:30px;
//    line-height:40px;
      margin-top: 30px;
      float: left;
    font-weight:600;
      :hover {
          color:#3366ff;
        }
    a {
      text-decoration:none;
      color:#fff;
      }
   }
}

.logo {
  float:left;
    padding-left: 20px;
    visibility: visible;
//  width:15%;
//  margin-left:20px;
//  margin-top:20px;
}
.logo1 {
    visibility:hidden;
    
}

.menu {
  width:80%;
  float:right;
  display:inline-block;
  text-align:right;
  margin-top:2px; 
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:3px;
  
  li {  
   
    display:inline-block;
    padding:0 1% ;
    border-right: solid $red;
    &:last-child{
      border:none;
    }
    :hover {
      color:darken($red, 1%);
      }
    
    a {
      color:$white;
      text-decoration:none;
      font-size:16px;
      padding:0;
      }
   } 
}

 .clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.blank {
    visibility: hidden;
}
@media (min-height: 900px) {
    .main {
    top: 30%;
}
}

@media (max-width: 900px) {
  
    .project, .project1, .project2, .project3, .project4, .project5, .project6{
        width: 90%;
//        height: auto;
    }
    .main{
        width: 100%;
        font-size: 20px;
        margin-top: -200px;
        visibility: hidden;
    }
    .subtxt{
        width: 100%;
        margin-top: 175px;
        font-size: 15px;
    }
    #contact h1{
        width: 97%;
    }
    
  .menu {
     
     text-align:right;
   
    
    li {
    display:inline-block;
    
      
      a {
    
        text-decoration:none;
        font-size:16px; 
      }
    }
  }
  
}

@media (max-width: 880px) {
  
  .logo {
      visibility: hidden;
    }
    .logo1 {
        visibility: visible;
        position: absolute;
        left: 0px;
        padding-left: 20px;
    }
    
    .blank {
        height: 80px;
        visibility: hidden;
    }
    
  .menu {
     text-align:left;
     width:100%;
     margin-top:18px; 
     background:$gray; 
    
    li {
     display:none;
     width:100%;
     padding:0;
     margin:0;
      
         :hover {
           background:lighten($gray ,5% );
           @include transition-duration(0.5s);
          }
      a {
        display:table;
        width:100%;
        color:$white;
        text-decoration:none;
        font-size:20px;
        padding:20px;
        overflow:hidden; 
        border-bottom:thin solid #555;
      }
    }
  }
    

  .burger {
    width: 60px;
    z-index:10;
    height: 60px;
    display: block;
    background: $red;
    @include transition(all 0.3s ease-in-out);
    list-style: none;
    position: absolute;
    top: 5px;
    right: -25px;
    @include translate(-50%, 0);
    
    i {
      display: block;
      width: 40px;
      height: 2px;
      background: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      @include transition(all 0.2s ease-in-out);
      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        background: $white;
        width: 40px;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        @include transition(all 0.3s ease-in-out);
      }
      &:before {  
        margin-top: -12px;
      }
      &:after {
        margin-top: 12px;
      }
    }
    &:hover {
      background: darken($red, 9%);
      i {
        
        &:before {
          margin-top: -14px;
        }
        &:after {
          margin-top: 14px;
        }
      }
    }
    &.active {
      background: $red;
      i {
        background: transparent;
        &:before,
        &:after {
          left: -5px;
          width: 50px;
        }
        &:before {
          @include rotate(45deg);
          top: 12px;
        }
        &:after {
          @include rotate(-45deg);
          top: -12px;
        }
      }
      &:hover {
        background: darken($red, 9%);
        i {
          &:before,
          &:after {
            width: 60px;
            margin: 0;
            left: -10px;
            top: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 880px) and (max-width: 1000px) {
   .menu {
       display:none;
   }
}

.slick-arrow {
    display: none !important;
}

.slick-next {
    display: none !important;
}


.front {
    z-index: 2;
}
