/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/sass6.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/sass6.scss */
.page-title {
  font-size: 2.2em;
}

/* line 23, ../sass/sass6.scss */
.menu {
  width: 95%;
  text-align: right;
  margin-top: -40px;
  padding-left: 40%;
  position: relative;
}
/* line 29, ../sass/sass6.scss */
.menu ul {
  list-style-type: none;
  overflow: hidden;
}
/* line 32, ../sass/sass6.scss */
.menu ul li a {
  font-size: 23px;
  font-family: 'Helvetica', sans-serif;
  display: block;
  background-color: #111;
  float: left;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  color: whitesmoke;
}

/* line 48, ../sass/sass6.scss */
form {
  width: 50%;
  min-width: 9rem;
  margin-left: 25%;
  height: 450px;
}

/* line 56, ../sass/sass6.scss */
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
  color: #7a7a7a;
  font-size: 20px;
}
/* line 68, ../sass/sass6.scss */
input[type=submit], textarea[type=submit] {
  background: #4D6DA0;
  color: #fff;
  width: auto;
  float: right;
}
/* line 75, ../sass/sass6.scss */
input::placeholder, textarea::placeholder {
  color: #7a7a7a;
}
/* line 79, ../sass/sass6.scss */
input.error, textarea.error {
  background: #9e1326;
  color: #fff;
}
/* line 82, ../sass/sass6.scss */
input.error::placeholder, textarea.error::placeholder {
  color: black;
}

/* line 87, ../sass/sass6.scss */
textarea {
  height: 10rem;
}

/* line 92, ../sass/sass6.scss */
#contact {
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  padding-top: 45px;
  color: #dddddd;
  background-color: #2C3646;
}

/* line 103, ../sass/sass6.scss */
#projects {
  text-align: center;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 50px;
  background-color: #2e3141;
  color: #ffffff;
  padding: 80px 20px;
}

/* line 116, ../sass/sass6.scss */
.spacer {
  clear: both;
}

/* line 120, ../sass/sass6.scss */
.project-box {
  font-size: 20px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  width: 27%;
  min-width: 10%;
  float: left;
  padding: 2%;
  margin: 10px;
  border-radius: 8px;
  min-height: 200px;
  background-color: #353849;
}

/* line 138, ../sass/sass6.scss */
.project-box h2 {
  font-size: 25px;
}

/* line 143, ../sass/sass6.scss */
#about {
  margin: 0;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  background-color: #ffffff;
  color: #3366ff;
  padding: 80px;
  height: auto;
}

/* line 154, ../sass/sass6.scss */
.page-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #0A78DE;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

/* line 163, ../sass/sass6.scss */
footer {
  text-align: center;
  font-size: 40px;
  line-height: 100px;
  width: 100%;
  background-color: rgba(18, 39, 54, 0.98);
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", 'Tahoma', Sans-Serif;
  font-weight: 400;
}
/* line 172, ../sass/sass6.scss */
footer a {
  color: white !important;
}
/* line 174, ../sass/sass6.scss */
footer a i:hover {
  color: #3366ff;
}

/* line 180, ../sass/sass6.scss */
.end {
  color: lightgrey;
  font-size: 15px;
  font-family: sans-serif;
  float: right;
  margin-top: 50px;
  padding-right: 30px;
}

/* line 190, ../sass/sass6.scss */
.main {
  position: absolute;
  top: 40%;
  margin-top: -55px;
  width: 100%;
  font-size: 70px;
  font-family: sans-serif;
  color: whitesmoke;
  text-align: center;
}

/* line 200, ../sass/sass6.scss */
.subtxt {
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  position: absolute;
  margin-top: 360px;
}

/* line 214, ../sass/sass6.scss */
.bg {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 220, ../sass/sass6.scss */
.image {
  display: block;
}

/* line 226, ../sass/sass6.scss */
header {
  width: 100%;
  background: rgba(18, 39, 54, 0.98);
  height: 80px;
  position: fixed;
  z-index: 10;
}
/* line 233, ../sass/sass6.scss */
header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  float: left;
  font-weight: 600;
}
/* line 240, ../sass/sass6.scss */
header h1 :hover {
  color: #3366ff;
}
/* line 243, ../sass/sass6.scss */
header h1 a {
  text-decoration: none;
  color: #fff;
}

/* line 250, ../sass/sass6.scss */
.logo {
  float: left;
  padding-left: 20px;
  visibility: visible;
}

/* line 258, ../sass/sass6.scss */
.logo1 {
  visibility: hidden;
}

/* line 263, ../sass/sass6.scss */
.menu {
  width: 80%;
  float: right;
  display: inline-block;
  text-align: right;
  margin-top: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 274, ../sass/sass6.scss */
.menu li {
  display: inline-block;
  padding: 0 1%;
  border-right: solid #9e1326;
}
/* line 279, ../sass/sass6.scss */
.menu li:last-child {
  border: none;
}
/* line 282, ../sass/sass6.scss */
.menu li :hover {
  color: #991225;
}
/* line 286, ../sass/sass6.scss */
.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 0;
}

/* line 295, ../sass/sass6.scss */
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 303, ../sass/sass6.scss */
.blank {
  visibility: hidden;
}

@media (min-height: 900px) {
  /* line 307, ../sass/sass6.scss */
  .main {
    top: 30%;
  }
}
@media (max-width: 900px) {
  /* line 314, ../sass/sass6.scss */
  .project, .project1, .project2, .project3, .project4, .project5, .project6 {
    width: 90%;
  }

  /* line 318, ../sass/sass6.scss */
  .main {
    width: 100%;
    font-size: 20px;
    margin-top: -200px;
    visibility: hidden;
  }

  /* line 324, ../sass/sass6.scss */
  .subtxt {
    width: 100%;
    margin-top: 175px;
    font-size: 15px;
  }

  /* line 329, ../sass/sass6.scss */
  #contact h1 {
    width: 97%;
  }

  /* line 333, ../sass/sass6.scss */
  .menu {
    text-align: right;
  }
  /* line 338, ../sass/sass6.scss */
  .menu li {
    display: inline-block;
  }
  /* line 342, ../sass/sass6.scss */
  .menu li a {
    text-decoration: none;
    font-size: 16px;
  }
}
@media (max-width: 880px) {
  /* line 354, ../sass/sass6.scss */
  .logo {
    visibility: hidden;
  }

  /* line 357, ../sass/sass6.scss */
  .logo1 {
    visibility: visible;
    position: absolute;
    left: 0px;
    padding-left: 20px;
  }

  /* line 364, ../sass/sass6.scss */
  .blank {
    height: 80px;
    visibility: hidden;
  }

  /* line 369, ../sass/sass6.scss */
  .menu {
    text-align: left;
    width: 100%;
    margin-top: 18px;
    background: #484b50;
  }
  /* line 375, ../sass/sass6.scss */
  .menu li {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* line 381, ../sass/sass6.scss */
  .menu li :hover {
    background: #54585d;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  /* line 385, ../sass/sass6.scss */
  .menu li a {
    display: table;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    overflow: hidden;
    border-bottom: thin solid #555;
  }

  /* line 399, ../sass/sass6.scss */
  .burger {
    width: 60px;
    z-index: 10;
    height: 60px;
    display: block;
    background: #9e1326;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    list-style: none;
    position: absolute;
    top: 5px;
    right: -25px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  /* line 412, ../sass/sass6.scss */
  .burger i {
    display: block;
    width: 40px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  /* line 422, ../sass/sass6.scss */
  .burger i:before, .burger i:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #fff;
    width: 40px;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  /* line 434, ../sass/sass6.scss */
  .burger i:before {
    margin-top: -12px;
  }
  /* line 437, ../sass/sass6.scss */
  .burger i:after {
    margin-top: 12px;
  }
  /* line 441, ../sass/sass6.scss */
  .burger:hover {
    background: #750e1c;
  }
  /* line 445, ../sass/sass6.scss */
  .burger:hover i:before {
    margin-top: -14px;
  }
  /* line 448, ../sass/sass6.scss */
  .burger:hover i:after {
    margin-top: 14px;
  }
  /* line 453, ../sass/sass6.scss */
  .burger.active {
    background: #9e1326;
  }
  /* line 455, ../sass/sass6.scss */
  .burger.active i {
    background: transparent;
  }
  /* line 457, ../sass/sass6.scss */
  .burger.active i:before, .burger.active i:after {
    left: -5px;
    width: 50px;
  }
  /* line 462, ../sass/sass6.scss */
  .burger.active i:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 12px;
  }
  /* line 466, ../sass/sass6.scss */
  .burger.active i:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -12px;
  }
  /* line 471, ../sass/sass6.scss */
  .burger.active:hover {
    background: #750e1c;
  }
  /* line 474, ../sass/sass6.scss */
  .burger.active:hover i:before, .burger.active:hover i:after {
    width: 60px;
    margin: 0;
    left: -10px;
    top: 0;
  }
}
@media (min-width: 880px) and (max-width: 1000px) {
  /* line 488, ../sass/sass6.scss */
  .menu {
    display: none;
  }
}
/* line 493, ../sass/sass6.scss */
.slick-arrow {
  display: none !important;
}

/* line 497, ../sass/sass6.scss */
.slick-next {
  display: none !important;
}

/* line 502, ../sass/sass6.scss */
.front {
  z-index: 2;
}
