/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/sass6.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 18, ../sass/sass6.scss */
.menu {
  width: 95%;
  text-align: right;
  margin-top: -40px;
  padding-left: 40%;
  position: relative;
}
/* line 24, ../sass/sass6.scss */
.menu ul {
  list-style-type: none;
  overflow: hidden;
}
/* line 27, ../sass/sass6.scss */
.menu ul li a {
  font-size: 23px;
  font-family: 'Helvetica', sans-serif;
  display: block;
  background-color: #111;
  float: left;
  padding: 10px 16px 10px 16px;
  text-decoration: none;
  color: whitesmoke;
}

/* line 43, ../sass/sass6.scss */
form {
  width: 50%;
  min-width: 9rem;
  margin-left: 25%;
  height: 195px;
}

/* line 85, ../sass/sass6.scss */
#social {
  background: linear-gradient(182deg, #66a7d5 51px, #c5ded7 0%);
  padding-top: 40px;
}

/* line 90, ../sass/sass6.scss */
#help {
  font-size: 25px;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  padding-top: 140px;
  color: #dddddd;
  background-color: #2C3646;
  background: linear-gradient(-184deg, #4c5c96 115px, #66a7d5 0%);
}

/* line 101, ../sass/sass6.scss */
#projects {
  text-align: center;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 25px;
  background-color: #f76160;
  color: #ffffff;
  padding: 80px 20px;
}

/* line 114, ../sass/sass6.scss */
.spacer {
  clear: both;
}

/* line 118, ../sass/sass6.scss */
.Pone {
  color: #eee;
}

/* line 123, ../sass/sass6.scss */
.project-box {
  font-size: 20px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  width: 27%;
  min-width: 10%;
  float: left;
  padding: 2%;
  margin: 10px;
  border-radius: 8px;
  min-height: 200px;
  background-color: rgba(53, 56, 73, 0.36);
}

/* line 141, ../sass/sass6.scss */
.project-box h2 {
  font-size: 20px;
}

/* line 146, ../sass/sass6.scss */
.page-title {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

/* line 151, ../sass/sass6.scss */
#about {
  margin: 0;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 25px;
  background-color: #ffffff;
  color: #eee;
  padding: 125px;
  height: auto;
  background: linear-gradient(184deg, #f76160 101px, #4c5c96 0%);
}

/* line 163, ../sass/sass6.scss */
.page-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #eee;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

/* line 172, ../sass/sass6.scss */
.btn-hldr .main-btn {
  display: inline-block;
  font-size: .8em;
  text-align: center;
  border-radius: 3px;
  font-weight: 400;
  padding: .65em 1em .65em 1em;
  margin: 2.5em 0 0;
  color: #3E90CA;
  background: #A8D7F9;
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  line-height: 1.42857143;
  text-decoration: none;
}

/* line 189, ../sass/sass6.scss */
p {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  font-family: 'Raleway' sans-serif;
  color: #eee;
  width: 100%;
  margin: 0 0 10px;
}

/* line 200, ../sass/sass6.scss */
footer {
  text-align: center;
  font-size: 40px;
  line-height: 100px;
  text-decoration: none !important;
  width: 100%;
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", 'Tahoma', Sans-Serif;
  font-weight: 400;
}
/* line 210, ../sass/sass6.scss */
footer a {
  color: #45B29A !important;
}
/* line 212, ../sass/sass6.scss */
footer a i:hover {
  color: #0080ff;
}

/* line 218, ../sass/sass6.scss */
footer a {
  text-decoration: none;
  font-size: 30px;
}

/* line 223, ../sass/sass6.scss */
.end {
  color: #45B29A;
  font-size: 15px;
  font-family: sans-serif;
  float: right;
  margin-top: 50px;
  padding-right: 30px;
}

/* line 233, ../sass/sass6.scss */
.main {
  position: absolute;
  top: 40%;
  margin-top: -55px;
  width: 100%;
  font-size: 90px;
  font-family: 'Stalemate', cursive;
  color: whitesmoke;
  text-align: center;
  text-shadow: 3px 3px 2px black;
}

/* line 244, ../sass/sass6.scss */
.subtxt {
  color: whitesmoke;
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  width: 100%;
  position: absolute;
  margin-top: 360px;
  text-shadow: 3px 3px 2px black;
}

/* line 255, ../sass/sass6.scss */
.bg {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 261, ../sass/sass6.scss */
.image {
  display: block;
}

/* line 266, ../sass/sass6.scss */
header {
  width: 100%;
  background: #003848;
  height: 80px;
  position: fixed;
  z-index: 10;
}
/* line 273, ../sass/sass6.scss */
header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  float: left;
  font-weight: 600;
}
/* line 279, ../sass/sass6.scss */
header h1 :hover {
  color: #0ec97d;
}
/* line 282, ../sass/sass6.scss */
header h1 a {
  text-decoration: none;
  color: #45B29A;
}

/* line 289, ../sass/sass6.scss */
.logo {
  float: left;
  padding-left: 20px;
  visibility: visible;
}

/* line 294, ../sass/sass6.scss */
.logo1 {
  visibility: hidden;
}

/* line 299, ../sass/sass6.scss */
.menu {
  width: 80%;
  float: right;
  display: inline-block;
  text-align: right;
  margin-top: 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 310, ../sass/sass6.scss */
.menu li {
  display: inline-block;
  padding: 0 1%;
  border-right: solid #7cfaff;
}
/* line 315, ../sass/sass6.scss */
.menu li:last-child {
  border: none;
}
/* line 318, ../sass/sass6.scss */
.menu li :hover {
  color: #0ec47a;
}
/* line 322, ../sass/sass6.scss */
.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 0;
}

/* line 331, ../sass/sass6.scss */
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 339, ../sass/sass6.scss */
.blank {
  visibility: hidden;
}

@media (min-height: 900px) {
  /* line 343, ../sass/sass6.scss */
  .main {
    top: 30%;
  }
}
@media (max-width: 900px) {
  /* line 350, ../sass/sass6.scss */
  #work1, #work2, #work3, #work4, #work5, #work6 {
    padding: 0 !important;
    width: 100%;
  }

  /* line 355, ../sass/sass6.scss */
  .section-img {
    width: 90%;
    object-fit: cover;
  }

  /* line 360, ../sass/sass6.scss */
  .img-holder {
    padding-top: 35px !important;
  }

  /* line 365, ../sass/sass6.scss */
  .main {
    width: 100%;
    font-size: 20px;
    margin-top: -200px;
    visibility: hidden;
  }

  /* line 371, ../sass/sass6.scss */
  .subtxt {
    width: 100%;
    margin-top: 175px;
    font-size: 15px;
  }

  /* line 376, ../sass/sass6.scss */
  #contact h1 {
    width: 97%;
  }

  /* line 379, ../sass/sass6.scss */
  #about {
    background: linear-gradient(184deg, #f76160 30px, #4c5c96 0%);
    padding: 90px;
  }

  /* line 383, ../sass/sass6.scss */
  #help {
    background: linear-gradient(-184deg, #4c5c96 30px, #66a7d5 0%);
    padding-top: 85px;
  }

  /* line 387, ../sass/sass6.scss */
  #social {
    background: linear-gradient(182deg, #66a7d5 15px, #c5ded7 0%);
    padding-top: 20px;
  }

  /* line 391, ../sass/sass6.scss */
  footer {
    line-height: 50px;
  }

  /* line 394, ../sass/sass6.scss */
  .up {
    font-size: 60px;
  }

  /* line 397, ../sass/sass6.scss */
  .menu {
    text-align: right;
  }
  /* line 402, ../sass/sass6.scss */
  .menu li {
    display: inline-block;
  }
  /* line 406, ../sass/sass6.scss */
  .menu li a {
    text-decoration: none;
    font-size: 16px;
  }
}
@media (max-width: 880px) {
  /* line 418, ../sass/sass6.scss */
  .logo {
    visibility: hidden;
  }

  /* line 421, ../sass/sass6.scss */
  .logo1 {
    visibility: visible;
    position: absolute;
    left: 0px;
    padding-left: 20px;
  }

  /* line 428, ../sass/sass6.scss */
  .blank {
    height: 80px;
    visibility: hidden;
  }

  /* line 433, ../sass/sass6.scss */
  .menu {
    text-align: left;
    width: 100%;
    margin-top: 18px;
    background: #484b50;
  }
  /* line 439, ../sass/sass6.scss */
  .menu li {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /* line 445, ../sass/sass6.scss */
  .menu li :hover {
    background: #54585d;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  /* line 449, ../sass/sass6.scss */
  .menu li a {
    display: table;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    overflow: hidden;
    border-bottom: thin solid #555;
  }

  /* line 463, ../sass/sass6.scss */
  .burger {
    width: 60px;
    z-index: 10;
    height: 60px;
    display: block;
    background: #9e1326;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    list-style: none;
    position: absolute;
    top: 5px;
    right: -25px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  /* line 476, ../sass/sass6.scss */
  .burger i {
    display: block;
    width: 40px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  /* line 486, ../sass/sass6.scss */
  .burger i:before, .burger i:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #fff;
    width: 40px;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  /* line 498, ../sass/sass6.scss */
  .burger i:before {
    margin-top: -12px;
  }
  /* line 501, ../sass/sass6.scss */
  .burger i:after {
    margin-top: 12px;
  }
  /* line 505, ../sass/sass6.scss */
  .burger:hover {
    background: #750e1c;
  }
  /* line 509, ../sass/sass6.scss */
  .burger:hover i:before {
    margin-top: -14px;
  }
  /* line 512, ../sass/sass6.scss */
  .burger:hover i:after {
    margin-top: 14px;
  }
  /* line 517, ../sass/sass6.scss */
  .burger.active {
    background: #9e1326;
  }
  /* line 519, ../sass/sass6.scss */
  .burger.active i {
    background: transparent;
  }
  /* line 521, ../sass/sass6.scss */
  .burger.active i:before, .burger.active i:after {
    left: -5px;
    width: 50px;
  }
  /* line 526, ../sass/sass6.scss */
  .burger.active i:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 12px;
  }
  /* line 530, ../sass/sass6.scss */
  .burger.active i:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -12px;
  }
  /* line 535, ../sass/sass6.scss */
  .burger.active:hover {
    background: #750e1c;
  }
  /* line 538, ../sass/sass6.scss */
  .burger.active:hover i:before, .burger.active:hover i:after {
    width: 60px;
    margin: 0;
    left: -10px;
    top: 0;
  }
}
@media (min-width: 880px) and (max-width: 1000px) {
  /* line 552, ../sass/sass6.scss */
  .menu {
    display: none;
  }
}
/* line 557, ../sass/sass6.scss */
.slick-arrow {
  display: none !important;
}

/* line 561, ../sass/sass6.scss */
.slick-next {
  display: none !important;
}

/* line 566, ../sass/sass6.scss */
.front {
  z-index: 2;
}

/* line 570, ../sass/sass6.scss */
p {
  text-align: center;
  font-size: 25px;
  font-family: 'Helvetica';
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}

/* line 578, ../sass/sass6.scss */
h1 {
  font-size: 100px;
  font-family: 'Stalemate';
  text-align: center;
}

/* line 583, ../sass/sass6.scss */
h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #ffffff;
  padding: 20px;
}

/* line 595, ../sass/sass6.scss */
#work1 {
  background-color: #7dcc93;
  padding: 50px;
  text-align: center;
  height: inherit;
}

/* line 602, ../sass/sass6.scss */
#work2 {
  background-color: darkorange;
  padding: 50px;
  text-align: center;
}

/* line 608, ../sass/sass6.scss */
#work3 {
  background-color: #F76160;
  padding: 50px;
  text-align: center;
}

/* line 614, ../sass/sass6.scss */
#work4 {
  background-color: #31355B;
  padding: 50px;
  text-align: center;
}

/* line 620, ../sass/sass6.scss */
#work5 {
  background-color: #E29470;
  padding: 50px;
  text-align: center;
}

/* line 626, ../sass/sass6.scss */
#work6 {
  background-color: #66A7D5;
  padding: 50px;
  text-align: center;
}

/* line 631, ../sass/sass6.scss */
.up {
  position: absolute;
  top: 40%;
  margin-top: -115px;
  width: 100%;
  font-size: 145px;
  font-family: 'Stalemate', cursive;
  color: #66A7D5;
  text-align: center;
  text-shadow: 3px 3px 2px black;
}

/* line 643, ../sass/sass6.scss */
.head {
  color: brown;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 5px;
}

/* line 649, ../sass/sass6.scss */
.subhead {
  text-align: center;
  font-size: 25px;
  font-family: 'Helvetica', sans-serif;
  color: darkorange;
  padding-bottom: 40px;
}

/* line 657, ../sass/sass6.scss */
.image {
  object-fit: cover;
}

/* line 661, ../sass/sass6.scss */
section p {
  padding: 0;
  margin: 0 !important;
  font-size: 20px;
}
